body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #6a0dad;
}

h2 {
    color: #007bff;
}

form {
    margin: 0 auto;
    max-width: 600px; /* Increase max-width for larger form */
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px; /* Increase margin for labels */
    font-weight: bold;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px; /* Increased margin between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    background-color: #ffa500;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.button:hover {
    background-color: #e69500;
}

.hidden {
    display: none;
}

#signupPage, #loginPage {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dashboard {
    padding: 20px;
    background-color: #ffffff;
}

footer {
    position: relative;
    padding: 20px;
    background-color: #6a0dad;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}
